
<div id='calendar'></div>

<script>
WTBS = [
<% @wtbs.each do |wtb| %>
    {
      title: 'busy',         
      start: parseFromWTBTime('<%= wtb.from.strftime("%Y-%m-%d %H:%M") %>'),
      end: parseFromWTBTime('<%= wtb.to.strftime("%Y-%m-%d %H:%M") %>')
    },
  <% end %>
  ];


  function parseFromWTBTime(dateTime) {
    var dt = moment(dateTime);
    console.log(dt.format());
    return dt.format();
  };

//  setTimeout(function() {
//$('#calendar').fullCalendar('addEventSource', wtbs);
//$('#calendar').fullCalendar('refetchEvents');
</script>
