
<div id='calendar'></div>
<%= @wtbs %>

<script>
WTBS = [
<% @wtbs.each do |wtb| %>
    {
      title: 'busy',
      start: parseFromWTBTime('<%= wtb.from.iso8601 %>'),
      end: parseFromWTBTime('<%= wtb.to.iso8601 %>')
    },
  <% end %>
  ];


  function parseFromWTBTime(dotw, time) {
    var dt = moment('2015 ' + time).week(32).day(dotw);
    console.log(dt.format());
    return dt.format();
  };

//  setTimeout(function() {
//$('#calendar').fullCalendar('addEventSource', wtbs);
//$('#calendar').fullCalendar('refetchEvents');
 // }, 1000);
</script>
