<h1 class="page-header">Full course calendar:
      <span class='label label-info dropdown'><%= @course_info[:title] %></span><span class="caret"></span>
</h1>
<div class="help well">
  help box
</div>

<div id='calendar'></div>

<script>

WTBS = [
  <% @wtbs.each do |wtb| %>
    {
      title: 'busy',
      start: parseFromWTBTime('<%= wtb.from.strftime("%Y-%m-%d %H:%M") %>'),
      end: parseFromWTBTime('<%= wtb.to.strftime("%Y-%m-%d %H:%M") %>')
    },
  <%end%>
]
</script>
