<h1>Course Information</h1>

<div id='user-info'>
  <h4>for <%= current_user.email %></h4>
</div>
<br>
<div id='courses'>
  <h2>My Courses</h2>
  <div id='teaching' class='courses panel panel-default'>
    <% teaching_courses = as_an_educator(@courses) %>
    <% if teaching_courses.length > 0  %>
      <%= render partial: 'course_list', locals:
        { heading: 'Teaching', specific_courses: teaching_courses } %>
    <% end %>
  </div>
  <div id='learning' class='courses panel panel-default'>
    <% learning_courses = as_a_student(@courses) %>
    <% if learning_courses.length > 0  %>
      <%= render partial: 'course_list', locals:
        { heading: 'Learning', specific_courses: learning_courses } %>
    <% end %>
  </div>
  <br>
      <%= button_to 'Create New Course', new_course_path, method: :get, class: 'btn btn-default' %>
</div>
