<!DOCTYPE html>
<html>
<head>

  <%= javascript_include_tag "application" %>
<!-- fixme: use asset pipeline -->
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css' />
  <script src='//momentjs.com/downloads/moment.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js' ></script>
  </head>
<body>

<%= yield %>


</body>
</html>

